/* load.css */

/* Bottom-only focus ring style */
input:focus + .focus-ring {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #06b6d4; /* cyan-300 color */
  }
  

/* load.css */

/* Custom style for phone input when focused */
.phone-input-focused {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.403); /* Adjust shadow properties as needed */
  }
  