/** @type {import('tailwindcss').Config} */
module.exports = {
    content: [
      './src/**/*.{js,jsx,ts,tsx}', // All JS, JSX, TS, and TSX files in the src directory
      './public/index.html', // Your main HTML file
    ],
    theme: {
      extend: {},
    },
    plugins: [],
  } 

  /* Example CSS */
.focus-container:focus-within {
  outline: 2px solid rgb(0, 217, 255);
}
