/* App.css */

/* Default flex layout */
.flex {
    display: flex;
  }
  
  /* Sidebar open state */
  .sidebar-open .flex-1 {
    margin-left: 260px; /* Adjust as per your sidebar width */
    transition: margin-left 0.3s ease-in-out;
  }
  
  /* Sidebar closed state */
  .sidebar-closed .flex-1 {
    margin-left: 0;
    transition: margin-left 0.3s ease-in-out;
  }
  
  /* Sidebar and Content Transitions */
.sidebar {
  transition: transform 0.3s ease;
}

.content {
  transition: margin-left 0.3s ease;
}

.sidebar-closed .content {
  margin-left: 0;
}
